<div class="container">
  <div class="ui card">
    <h1>Squad Generator</h1>
    <ul class="list">
      <li *ngFor="let setInputName of setInputNames">{{ setInputName }}</li>
    </ul>
    <div class="add-members-container">
      <input
        #addMember
        type="text"
        placeholder="Name"
        (input)="onInput(addMember.value)"
        [value]="inputNames"
        (keyup.enter)="onAdd()"
      />
      <button (click)="onAdd()">Add</button>
    </div>
    <div class="input-container">
      <input
        #numTeam
        type="number"
        (input)="onNumTeamInput(numTeam.value)"
        [value]="numTeamInput"
        placeholder="No of teams"
      />
      <button (click)="onGenerate()" >Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
</div>
